.display4 {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 8.6em;
}

.display3 {
    -fx-font-family: "Roboto";
    -fx-font-size: 4.3em;
}

.display2 {
    -fx-font-family: "Roboto";
    -fx-font-size: 3.5em;
}

.display1 {
    -fx-font-family: "Roboto";
    -fx-font-size: 2.6em;
}

.headline {
    -fx-font-family: "Roboto";
    -fx-font-size: 1.8em;
}

.title {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 1.5em;
}

.subhead {
    -fx-font-family: "Roboto";
    -fx-font-size: 1.2em;
}

.body2 {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 1.0em;
}

.body1 {
    -fx-font-family: "Roboto";
    -fx-font-size: 1.0em;
}

.caption {
    -fx-font-family: "Roboto";
    -fx-font-size: 0.9em;
}

.sub-caption {
    -fx-font-family: "Roboto";
    -fx-font-size: 0.8em;
}

.sub-caption-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 0.7em;
}

.edge-property {
    -fx-font-family: "Roboto Mono Medium";
    -fx-font-size: 0.9em;
}

.button {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 1.1em;
}

.display4-mono {
    -fx-font-family: "Roboto Mono Light";
    -fx-font-size: 8.6em;
}

.display3-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 4.3em;
}

.display2-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 3.5em;
}

.display1-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 2.6em;
}

.headline-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 1.8em;
}

.title-mono {
    -fx-font-family: "Roboto Mono Medium";
    -fx-font-size: 1.2em;;
}

.subhead-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 1.2em;
}

.body2-mono {
    -fx-font-family: "Roboto Mono Medium";
    -fx-font-size: 1.0em;
}

.body1-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 1.0em;
}

.caption-mono {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 0.9em;
}

.button-mono {
    -fx-font-family: "Roboto Mono Medium";
    -fx-font-size: 1.1em;
}

.white-text {
    -fx-text-fill: #ffffff;
}

.status-bar {
    -fx-background-color: -primary-color-darkest;
}

.window-title {
    -fx-label-padding: 0em 0em 0em 0.8em;
}

.floating-action-button {
    -fx-pref-width: 4.3em;
    -fx-pref-height: 4.3em;
    -fx-text-fill: white;
}

.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0em;
}

.titled-pane > .title {
    -fx-pref-height: 1.2em;
}

.text-area {
    -fx-background-insets: 0em;
    -fx-background-color: white white white white;
    -fx-background-radius: 0em;
}

.text-area .content {
    -fx-background-color: white white white white;
    -fx-background-radius: 0em;
}

.text-area:focused .content {
    -fx-background-color: white white white white;
    -fx-background-radius: 0em;
}

.text-area:focused {
    -fx-highlight-fill: -deep-orange-500;
    -fx-highlight-text-fill: -white;
}

.text-area .content {
    -fx-highlight-fill: -deep-orange-500;
    -fx-highlight-text-fill: -white;
}

.component-declaration {
    -fx-padding: 1.5em 0em 0em 0em;
}

.menu .label {
    -fx-text-fill: -white;
    -fx-font-family: "Roboto";
    -fx-font-size: 1.0em;
}

.menu-item .label {
    -fx-text-fill: -black;
}

.tab-header-background {
    -fx-background-color: -blue-grey-700;
}

.tab-selected-line {
    -fx-stroke: #ffffff;
}

.jfx-tab-pane .jfx-rippler {
    -fx-rippler-fill: #ffffff;
}

.jfx-tab-pane .scroll-pane {
    -fx-background: #ffffff00; /** Transparent **/
}

.tab .tab-label {
    -fx-font-size: 1.2em;
}

.comment {
    -fx-fill: -grey-500;
}

.uppaal-keyword {
    -fx-fill: -blue-700;
}

.c-keyword {
    -fx-fill: -green-700;
    -fx-font-weight: bold;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 1.0em;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-padding-left: 1.8em;
    -fx-padding-right: 1.8em;
}

.jfx-snackbar-action {
    -fx-text-fill: WHITE;
}

.titled-pane > .title {
    -fx-background-color: TRANSPARENT;
    -fx-border-style: HIDDEN HIDDEN SOLID HIDDEN;
    -fx-border-color: -divider-color;
    -fx-pref-height: 2.3em;
}

.titled-pane > .title > .arrow-button .arrow{
	-fx-background-color: TRANSPARENT;
	-fx-border-color: TRANSPARENT;
	-fx-padding: 0em 0em 0em -0.7em;
}

.titled-pane > .content {
	-fx-background-color: TRANSPARENT;
	-fx-padding: 0em -0.1em -0.1em -0.1em;
	-fx-background-insets: 0em 0em 0em 0em;
}

.engine-instances-list {
    -fx-padding: 5;
    -fx-border-style: SOLID HIDDEN SOLID HIDDEN;
    -fx-border-color: -divider-color;
    -fx-border-width: 2px;
}

.engine-instance {
    -fx-border-style: SOLID SOLID SOLID SOLID;
    -fx-border-color: -divider-color;
    -fx-border-width: 1px;
}

.input-violation {
    -fx-text-fill: red;
}

.button-danger {
    -fx-border-style: SOLID SOLID SOLID SOLID;
    -fx-border-color: -red-900;
    -fx-border-radius: 0.25em;
    -fx-border-width: 0.1em;
}

.toggle-button {
    -jfx-toggle-color:#dddddd;-jfx-untoggle-color:#dddddd;
    -jfx-toggle-line-color:#7C8B92;-jfx-untoggle-line-color:#7C8B92;
    -fx-padding: 0em 0em 0em 0em;
    -fx-font-size: 1em;
}

/* Response sizing for elements (icons with these classes will be scaled when scaling changes) */
.icon-size-medium {
    -fx-font-family: "Material Icons Regular";
    -fx-icon-size: 24;
}

.icon-size-small {
    -fx-font-family: "Material Icons Regular";
    -fx-icon-size: 20;
}

.icon-size-x-small {
    -fx-font-family: "Material Icons Regular";
    -fx-icon-size: 18;
}

.responsive-pane-sizing {
    -fx-max-width: 22em;
    -fx-min-width: 22em;
}

.responsive-text-area-sizing {
    -fx-max-height: 2.5em;
    -fx-min-height: 2.5em;
}

.responsive-icon-stack-pane-sizing {
    -fx-min-width: 3em;
    -fx-max-width: 3em;
    -fx-min-height: 3em;
    -fx-max-height: 3em;
}

.responsive-small-image-sizing {
    -fx-max-width: 1.1em;
    -fx-min-width: 1.1em;
    -fx-max-height: 1.5em;
    -fx-min-height: 1.5em;
}

.responsive-medium-image-sizing {
    -fx-max-width: 1.8em;
    -fx-min-width: 1.8em;
    -fx-max-height: 2.3em;
    -fx-min-height: 2.3em;
}

.responsive-large-image-sizing {
    -fx-max-width: 4.6em;
    -fx-min-width: 4.6em;
    -fx-max-height: 2.3em;
    -fx-min-height: 2.3em;
}

.responsive-circle-radius {
    -fx-scale-x: 1em;
    -fx-scale-y: 1em;
}