.display4{
	-fx-font-family: "Roboto Light";
	-fx-font-size: 112.0;
}
.display3{
	-fx-font-family: "Roboto";
	-fx-font-size: 56.0;
}
.display2{
	-fx-font-family: "Roboto";
	-fx-font-size: 45.0;
}
.display1{
	-fx-font-family: "Roboto";
	-fx-font-size: 34.0;
}
.headline{
	-fx-font-family: "Roboto";
	-fx-font-size: 24.0;
}
.title{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 20.0;
}
.subhead{
	-fx-font-family: "Roboto";
	-fx-font-size: 15.0;
}
.body2{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 13.0;
}
.body1{
	-fx-font-family: "Roboto";
	-fx-font-size: 13.0;
}
.caption{
	-fx-font-family: "Roboto";
	-fx-font-size: 12.0;
}
.sub-caption{
	-fx-font-family: "Roboto";
	-fx-font-size: 11.0;
}

.sub-caption-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 10.0;
}

.edge-property{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 12.0;
}

.button{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 14.0;
}

.display4-mono{
	-fx-font-family: "Roboto Mono Light";
	-fx-font-size: 112.0;
}
.display3-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 56.0;
}
.display2-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 45.0;
}
.display1-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 34.0;
}
.headline-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 24.0;
}
.title-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 20.0;
}
.subhead-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 15.0;
}
.body2-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 13.0;
}
.body1-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 13.0;
}
.caption-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 12.0;
}
.button-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 14.0;
}

.white-text {
    -fx-text-fill: #ffffff;
}

.status-bar {
    -fx-background-color: -primary-color-darkest;
}

.window-title {
 -fx-label-padding: 0 0 0 10px;
}

.floating-action-button {
	-fx-pref-width: 56;
	-fx-pref-height: 56;
	-fx-text-fill: white;
}

.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.titled-pane > .title {
    -fx-pref-height: 20;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: white white white white;
    -fx-background-radius: 0;
}

.text-area .content {
    -fx-background-color: white white white white;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: white white white white;
    -fx-background-radius: 0;
}

.text-area:focused {
    -fx-highlight-fill: -deep-orange-500;
    -fx-highlight-text-fill: -white;
}

.text-area .content {
    -fx-highlight-fill: -deep-orange-500;
    -fx-highlight-text-fill: -white;
}

.menu .label {
    -fx-text-fill: -white;
    -fx-font-family: "Roboto";
    -fx-font-size: 13.0;
}

.menu-item .label {
    -fx-text-fill: -black;
}

.tab-header-background {
    -fx-background-color: -blue-grey-700;
}

.tab-selected-line {
    -fx-stroke: #ffffff;
}

.jfx-tab-pane .jfx-rippler {
    -fx-rippler-fill: #ffffff;
}

.jfx-tab-pane .scroll-pane {
   -fx-background: #ffffff00; /** Transparent **/
}

.comment {
	-fx-fill: -grey-500;
}

.uppaal-keyword {
	-fx-fill: -blue-700;
}

.c-keyword {
	-fx-fill: -green-700;
	-fx-font-weight: bold;
}

.jfx-snackbar-content {
	-fx-background-color: #323232;
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 13.0;
}

.jfx-snackbar-toast {
	-fx-text-fill: WHITE;

	-fx-padding-left: 24;
	-fx-padding-right: 24;
}

.jfx-snackbar-action {
	-fx-text-fill: WHITE;
}

.titled-pane > .title {
	-fx-background-color: TRANSPARENT;
	-fx-border-style: HIDDEN HIDDEN SOLID HIDDEN;
	-fx-border-color: -divider-color;
	-fx-pref-height: 30;
}

.titled-pane > .title > .arrow-button .arrow{
	-fx-background-color: TRANSPARENT;
	-fx-border-color: TRANSPARENT;
	-fx-padding: 0 0 0 -10;
}

.titled-pane > .content {
	-fx-background-color: TRANSPARENT;
	-fx-padding: 0 -1 -1 -1 ;
	-fx-background-insets: 0 0 0 0;
}

<!-- Scroll pane related styling -->
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-opacity: 0;
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
	visibility: hidden;
	-fx-background-radius : 0.0em;
	-fx-padding :0.0 0.0 4.0 0.0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
	visibility: hidden;
	-fx-background-radius : 0.0em;
	-fx-padding :0.0 4.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
	-fx-shape : " ";
	-fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
	-fx-shape : " ";
	-fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color : derive(-divider-color, 40.0%);
	-fx-background-insets : 2.0, 0.0, 0.0;
	-fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
	-fx-background-color : derive(-divider-color, 10.0%);
	-fx-background-insets : 2.0, 0.0, 0.0;
	-fx-background-radius : 2.0em;
}

.scroll-bar{
	-fx-background-color: transparent;
	-fx-background-radius: 2em;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.scroll-bar:vertical:focused {
	-fx-background-color: transparent;
}