.display4{
	-fx-font-family: "Roboto Light";
	-fx-font-size: 7.0em; /* 112 */
}
.display3{
	-fx-font-family: "Roboto";
	-fx-font-size: 3.5em; /* 56 */
}
.display2{
	-fx-font-family: "Roboto";
	-fx-font-size: 3em; /* 45 */
}
.display1{
	-fx-font-family: "Roboto";
	-fx-font-size: 2em; /* 34 */
}
.headline{
	-fx-font-family: "Roboto";
	-fx-font-size: 1.5em; /* 24 */
}
.title{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 1.2em; ; /* 20 */
}
.subhead{
	-fx-font-family: "Roboto";
	-fx-font-size: 0.9em; /* 15 */
}
.body2{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 0.8em; /* 13 */
}
.body1{
	-fx-font-family: "Roboto";
	-fx-font-size: 0.8em; /* 13 */
}
.caption{
	-fx-font-family: "Roboto";
	-fx-font-size: 0.75em; /* 12 */
}
.sub-caption{
	-fx-font-family: "Roboto";
	-fx-font-size: 0.7em; /* 11 */
}

.sub-caption-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 0.6em; /* 10 */
}

.edge-property{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 0.75em; /* 12 */
}

.button{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 0.8em; /* 14 */
}

.display4-mono{
	-fx-font-family: "Roboto Mono Light";
	-fx-font-size: 7.0em; /* 112 */
}
.display3-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 3.5em; /* 56 */
}
.display2-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 3em; /* 45 */
}
.display1-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 2em; /* 34 */
}
.headline-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 1.5em; /* 24 */
}
.title-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 1.2em; ; /* 20 */
}
.subhead-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 0.9em; /* 15*/
}
.body2-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 0.8em; /* 13 */
}
.body1-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 0.8em; /* 13 */
}
.caption-mono{
	-fx-font-family: "Roboto Mono";
	-fx-font-size: 0.75em; /* 12 */
}
.button-mono{
	-fx-font-family: "Roboto Mono Medium";
	-fx-font-size: 0.8em; /* 14 */
}

.white-text {
    -fx-text-fill: #ffffff;
}

.status-bar {
    -fx-background-color: -primary-color-darkest;
}

.window-title {
	-fx-label-padding: 0em 0em 0em 0.6em;
}

.floating-action-button {
	-fx-pref-width: 3.5em; /* 56 */
	-fx-pref-height: 3.5em; /* 56 */
	-fx-text-fill: white;
}

.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0em;
}

.titled-pane > .title {
    -fx-pref-height: 1.2em; /* 20 */
}

.text-area {
    -fx-background-insets: 0em;
    -fx-background-color: white white white white;
    -fx-background-radius: 0em;
}

.text-area .content {
    -fx-background-color: white white white white;
    -fx-background-radius: 0em;
}

.text-area:focused .content {
    -fx-background-color: white white white white;
    -fx-background-radius: 0em;
}

.text-area:focused {
    -fx-highlight-fill: -deep-orange-500;
    -fx-highlight-text-fill: -white;
}

.text-area .content {
    -fx-highlight-fill: -deep-orange-500;
    -fx-highlight-text-fill: -white;
}

.menu .label {
    -fx-text-fill: -white;
    -fx-font-family: "Roboto";
    -fx-font-size: 0.8em; /* 13 */
}

.menu-item .label {
    -fx-text-fill: -black;
}

.tab-header-background {
    -fx-background-color: -blue-grey-700;
}

.tab-selected-line {
    -fx-stroke: #ffffff;
}

.jfx-tab-pane .jfx-rippler {
    -fx-rippler-fill: #ffffff;
}

.jfx-tab-pane .scroll-pane {
   -fx-background: #ffffff00; /** Transparent **/
}

.comment {
	-fx-fill: -grey-500;
}

.uppaal-keyword {
	-fx-fill: -blue-700;
}

.c-keyword {
	-fx-fill: -green-700;
	-fx-font-weight: bold;
}

.jfx-snackbar-content {
	-fx-background-color: #323232;
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 0.8em; /* 13 */
}

.jfx-snackbar-toast {
	-fx-text-fill: WHITE;
	-fx-padding-left: 1.5em; /* 24 */
	-fx-padding-right: 1.5em; /* 24 */
}

.jfx-snackbar-action {
	-fx-text-fill: WHITE;
}

.titled-pane > .title {
	-fx-background-color: TRANSPARENT;
	-fx-border-style: HIDDEN HIDDEN SOLID HIDDEN;
	-fx-border-color: -divider-color;
	-fx-pref-height: 1.9em; /* 30 */
}

.titled-pane > .title > .arrow-button .arrow{
	-fx-background-color: TRANSPARENT;
	-fx-border-color: TRANSPARENT;
	-fx-padding: 0em 0em 0em -0.6em; /* -10 */
}

.titled-pane > .content {
	-fx-background-color: TRANSPARENT;
	-fx-padding: 0em -0.1em -0.1em -0.1em; /* -1 */
	-fx-background-insets: 0em 0em 0em 0em;
}

/* Scroll pane related styling */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-opacity: 0;
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
	visibility: hidden;
	-fx-background-radius : 0.0em;
	-fx-padding : 0.0em 0.0em 0.25em 0.0em;  /* 4 */
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
	visibility: hidden;
	-fx-background-radius : 0.0em;
	-fx-padding : 0.0em 0.25em 0.0em 0.0em;  /* 4 */
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
	-fx-shape : " ";
	-fx-padding : 0.15em 0.0em;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
	-fx-shape : " ";
	-fx-padding : 0.0em 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color : derive(-divider-color, 40.0%);
	-fx-background-insets : 0.2em, 0.0em, 0.0em;  /* 2 */
	-fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
	-fx-background-color : derive(-divider-color, 10.0%);
	-fx-background-insets : 0.2em 0.0em, 0.0em;  /* 2 */
	-fx-background-radius : 2.0em;
}

.scroll-bar{
	-fx-background-color: transparent;
	-fx-background-radius: 2em;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.scroll-bar:vertical:focused {
	-fx-background-color: transparent;
}

.jfx-slider {
	-fx-pref-width: 3.75em; /* 60 */
}

.jfx-slider > .track {
	-fx-background-color: -divider-color;
}

.jfx-slider > .thumb, .jfx-slider > .animated-thumb, .jfx-slider > .colored-track{
	-fx-background-color: -primary-color;
}

.jfx-slider > .thumb {
	-fx-pref-width: 0.6em; /* 10 */
	-fx-background-radius: 0.19em; /* 3 */
}

.jfx-slider > .slider-value {
	-fx-fill: -primary-color-darker;
	-fx-stroke: -primary-color-darker;
}

.menu-item-embedded-control {

}

.menu-item-embedded-control:hover {
	-fx-background-color: none;
}

.menu-item-embedded-control:selected {
	-fx-background-color: none;
}