.component-frame {
    -fx-stroke-width: 0.2em;
}

.component-frame.selected {
    -fx-fill: -accent-color-lightest;
    -fx-stroke: -accent-color-darkest;
}

.component-label-container {

}

.component-label-container.selected {
    -fx-fill: -accent-color;
}

.component-label-container {

}

.component-label-container.selected {
    -fx-fill: -accent-color;
}

.location {
    -fx-stroke-width: 0.1em;
    -fx-stroke-type: inside;
}

.location.selected {
    -fx-fill: -accent-color;
    -fx-stroke: -accent-color-darkest;
}

.initial-location-inner-circle {
    -fx-fill: rgba(0,0,0,0);
    -fx-stroke-width: 0.2em;
}

.location-label {
    -fx-alignment: center;
    -fx-smooth: true;
}

.location-label.selected {
    -fx-text-fill: -white;
}

.link {
    -fx-stroke: -primary-color-darkest;
    -fx-stroke-width: 0.1em;
}

.link.selected {
    -fx-stroke: -accent-color-darker;
}

.nail {
    -fx-stroke-width: 0.1em;
}

.nail.selected {
    -fx-fill: -accent-color;
    -fx-stroke: -accent-color-darkest;
}

.grid-line {
    -fx-stroke: -grey-300;
}

.component-label-container {
    -fx-stroke-width: 0.1em;
}

.component-stroke {
    -fx-stroke-width: 0.1em;
}

.channel-box {
    -fx-fill: -primary-color;
    -fx-stroke: -primary-color-darker;
    -fx-stroke-width: 0.1em;
}

.edge-properties .icon-container .icon-background {
    -fx-fill: -primary-color;
    -fx-stroke: -primary-color-darker;
    -fx-stroke-type: centered;
    -fx-stroke-width: 0.1em;
}

.edge-properties .icon-container .icon-label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: -white;
}

.edge-properties .value-container .value-background {
    -fx-fill: -white;
    -fx-stroke: -primary-color-darker;
    -fx-stroke-type: centered;
    -fx-stroke-width: 0.1em;
}

.edge-properties .value-container .value-text-field{
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-text-fill: -primary-text-color;
    -fx-padding: 0.19em 0.45em 0.19em 0.4em;
    -fx-background-color: white;
    -fx-stroke-width: 0em;
    -fx-border-radius: 0em 0em 0em 0em;
    -fx-background-radius: 0em 0em 0em 0em;
    -fx-focus-color: -primary-color;
    -fx-unfocus-color: transparent;
}

.channel-receiver {
    -fx-stroke-width: 1;
    -fx-stroke: -primary-color-darker;
    -fx-fill: -white;
    -fx-stroke-type: inside;
}

.dashed {
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 5 5;
    -fx-stroke-dash-offset: -10;
    -fx-stroke-line-cap: butt;
}
